---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title p-name">{{ name }}</h1>
        {% endif %}
      </header>

      <div class="page-content">
        <ul>
          <li>{{ site.data.categories[page.category].shortdescription }}</li>
          <li>{{ site.data.statuses[page.status].shortdescription }}</li>
          <li>{{ site.data.focuses[page.focus].shortdescription }}{% if page.focus-detail %} for {{ page.focus-detail }}{% endif %}</li>
          {% if page.funders %}
          <li>Funded by {{ page.funders | join: ", " }}</li>
          {% endif %}
          {% if page.partitions.size > 1 %}
          <li> Partitions </li>
          <ul>
          {% endif %}
          {% for partition in page.partitions %}
            <li>
              {{ partition.nodes }} nodes,
              with {{ partition.accelerator-count }}
              {{ partition.accelerator }} accelerator{% if partition.accelerator-count > 1 %}s{% endif %} per node
            </li>
            {% if page.partitions.size > 1 %}<ul>{% endif %}
              {% if partition.benchmarks and partition.benchmarks.size > 0 %}
              <li>
                <a class="toggle-benchmark-details">
                  Benchmarks
                  <span class="benchmark-details-shown" style="display: none;">▴</span>
                  <span class="benchmark-details-hidden" style="display: inline;">({{ partition.benchmarks.size }}) ▾</span>
                </a>
              </li>
              <ul class="benchmark-details">
                {% for benchmark in partition.benchmarks %}
                  <li>
                  {% if site.data.benchmarks contains benchmark.type %}
                    {{ site.data.benchmarks[benchmark.type].description }} ({{ benchmark.name }}):
                  {% else %}
                    {{ benchmark.name }}:
                  {% endif %}
                  {{ benchmark.value }}
                  {% if site.data.benchmarks contains benchmark.type %}
                    {{ site.data.benchmarks[benchmark.type].units }}
                  {% endif %}
                  {% if benchmark contains "precision" %}
                    ({{ benchmark.precision }} precision)
                  {% endif %}
                  {% if benchmark contains "parameters" %}
                    <ul>
                    {% for param_tuple in benchmark.parameters %}
                      <li>{{ param_tuple[0] }}: {{ param_tuple[1] }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endfor %}
              </ul>
              {% endif %}
              <li>Manufactured by {{ partition.manufacturer }}</li>
              <li>Scheduler: {{ partition.scheduler }}</li>
            {% if page.partitions.size > 1 %}</ul>{% endif %}
          {% endfor %}
          {% if page.partitions.size > 1 %}
          </ul>
          {% endif %}
          <li>Interconnects: {{ page.interconnects | join: ", " }}</li>
          {% if page.profilers.size > 0 or page.modules or page.software-installation.size > 0 %}
          <li>Software:</li>
          <ul>
            {% if page.profilers.size > 0 %}
            <li>Profilers</li>
            <ul>
            {% for profiler in page.profilers %}
              <li>{{ profiler }}</li>
            {% endfor %}
            {% endif %}
            </ul>
            {% if page.modules %}
            <li>Module environment: {{ page.modules }}</li>
            {% endif %}
            {% if page.software-installation.size > 0 %}
            <li>Software installation methods</li>
            <ul>
            {% for method in page.software-installation %}
              <li>{{ method }}</li>
            {% endfor %}
            {% endif %}
            </ul>
            {% endif %}
          </ul>
        </ul>

        <div class="e-content">
          {{ content }}
        </div>

        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>

<script>
  // Hide details on page load so that users without JavaScript can see them
  document.querySelector('ul.benchmark-details').style.display = 'none';

  // Toggle the visibility of the benchmark details
  document.querySelector('a.toggle-benchmark-details').addEventListener('click', function(e) {
      e.preventDefault();
      benchmarkDetails = document.querySelector('ul.benchmark-details');
      if (benchmarkDetails.style.display == 'none') {
          benchmarkDetails.style.display = 'block';
          document.querySelector('span.benchmark-details-shown').style.display = 'inline';
          document.querySelector('span.benchmark-details-hidden').style.display = 'none';
      } else {
          benchmarkDetails.style.display = 'none';
          document.querySelector('span.benchmark-details-shown').style.display = 'none';
          document.querySelector('span.benchmark-details-hidden').style.display = 'inline';
      }
  });
</script>
